/* Global */


:root {
    /* Color */
    --text-color: #f0f4f5;
    --icon-color: #ffc7c7;
    --point-color: #feb546;
    --black: #000000;
    --light-grey: #7c7979;
    --navy: #203A43;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-nomal: 400;
}


* {
    box-sizing: border-box;
    margin:0;
    font-family: 'Do Hyeon', sans-serif;
}
html {
    scroll-behavior: smooth;
  }

 /* Grid */
   body{
    display: grid;
    grid-template-rows: 100px 3fr 1fr;
    background-color:var(--text-color);
}



/* Section  */
section{
    grid-row-start:2;
    grid-row-end: 3;
    margin:0;
    padding:0;
    background-color:var(--text-color);
}

fieldset{
    max-width: 50em;
    border: 2px solid #eed0dc;
    border-radius: 30px;
    background: #fff;
    box-shadow: 5px 5px 5px #cbcbcb;
    margin: 60px auto;
}
table{
    border:0; 
    width:500px; 
    margin:auto;
    font-weight: var( --weight-bold);
    font-size: 20px;
    color: #ff6f00;
    padding: 30px 0;
}
caption{
    font-size:35px;
    text-align:center;
    margin-top:30px;
    padding:5px;
    background-color:  #c43e00;
    color:white;
    width:600px;
    border-radius: 30px;
}
td {
    text-align:center;
    padding: 8px;
}
.answer input{
    width:100%; 
    background-color: #ffa040;
    color: #424242;
    font-weight: var(--weight-nomal);
    border:1px solid;
}


@media only screen and (max-width: 900px) {
    fieldset{
        max-width: 35em;
        margin: 40px auto;
    }
    table{
        border:0; 
        width:300px; 
        margin:auto;
        font-weight: var( --weight-bold);
        font-size: 20px;
        color: #ff6f00;
        padding: 30px 0;
    }
    caption{
        font-size:30px;
        text-align:center;
        margin-top:25px;
        padding:5px;
        background-color:  #c43e00;
        color:white;
        width:450px;
        border-radius: 30px;
    }
    td {
        padding: 6px;
        font-size:20px;
    }
    .answer input{
        width:100%; 
    }
}
@media only screen and (max-width: 580px) {
    fieldset{
        max-width: 25em;
        margin: 40px auto;
    }
    table{
        border:0; 
        width:350px; 
        margin:auto;
        font-weight: var( --weight-bold);
        font-size: 25px;
        padding: 30px 0;
    }
    caption{
        font-size:25px;
        text-align:center;
        margin-top:25px;
        padding:5px;
        background-color:  #c43e00;
        color:white;
        width:350px;
        border-radius: 30px;
    }
    td {
        padding: 4px;
        font-size:15px;
    }
    .answer input{
        width:100%; 
    }
}


  /* Footer */
footer{
    grid-row-start:3;
    grid-row-end: 4;
    font-size: 25px;
    font-weight: var( --weight-bold);
    padding:25px 24px;
    text-align: center;
    background-color:var(--text-color);
}
footer i{
    color:var(--icon-color);
    font-size: 40px;
    padding:8px 15px;
}




