/* Global */


:root {
    /* Color */
    --text-color: #f0f4f5;
    --icon-color: #ffc7c7;
    --point-color: #feb546;
    --black: #000000;
    --light-grey: #7c7979;
    --navy: #203A43;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-nomal: 400;
}


* {
    box-sizing: border-box;
    margin:0;
    font-family: 'Do Hyeon', sans-serif;
}
html {
    scroll-behavior: smooth;
  }

 /* Grid */
   body{
    display: grid;
    grid-template-rows: 100px 3fr 1fr;
    font-family: 'Source Sans Pro';  /* html에 적용하고자 하는 폰트의 link 적용 후, 해당 font-family 내용 body에 적용하기 */
}



/* Section  */
section{
    grid-row-start:2;
    grid-row-end: 3;
    margin:0;
    padding:0;
    background-color:var(--text-color);
    height: 500px;
}

table{
    border:0; 
    width:500px; 
    height:300px; 
    margin:auto;
    font-weight: var( --weight-bold);
    font-size: 20px;
    color:var(--point-color);
    padding-top:30px;
}
caption{
    font-size:35px;
    text-align:center;
    color:white;
    margin-top:30px;
    padding:5px;
    background-color:  #054d65;
    border-radius: 30px;
}
td {
    text-align:center;
    padding: 8px;
}
.answer input{
    width:100%; 
    background-color: #054d65;
    color:var(--text-color);
    font-weight: var(--weight-nomal);
    border:none;
}





  /* Footer */
footer{
    grid-row-start:3;
    grid-row-end: 4;
    font-size: 25px;
    font-weight: var( --weight-bold);
    padding:25px 24px;
    text-align: center;
    background-color:var(--text-color);
}
footer i{
    color:var(--icon-color);
    font-size: 40px;
    padding:8px 15px;
}




