/* Global */


:root {
    /* Color */
    --text-color: #f0f4f5;
    --icon-color: #ffc7c7;
    --point-color: #feb546;
    --black: #000000;
    --light-grey: #7c7979;
    --navy: #203A43;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-nomal: 400;
}


* {
    box-sizing: border-box;
    margin:0 ;   /* auto도 같이 주면 div마다 양쪽 너비 값이 달라진다 */
    font-family: 'Do Hyeon', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
section{
    width: 100%;
    margin: 0 auto;  
    position: relative;
}


  /* form */
select{
    width: 120px;
    height: 30px;
    margin: 10px;
    background-color: #f3e6e6;
    font-size: var(--font-small);
}

header{
    width: 1280px;
    margin: 0 auto;
}
h1{
    width: 100%;
    text-align: center;
    padding: 5% 0;
    max-height: 300px;
    box-sizing: border-box;  /* 기본값은 content-box이다. content크기만큼을 기준으로 한다는것. border-box는 border크기까지 포함한 크기를 기준응로 함 */
    font-size: 50px;
    font-weight: 500;
}
       


/*
      nav{
          display: none;
      }
  
      nav ul{
          width: 100%;
          height: 30px;
          box-sizing: border-box;
          display: flex;
          justify-content: flex-start;
          align-items: center;
      }
  
      nav ul li{
          padding: 0 20px;
      }
  
      nav ul li a{
          display: block;
          font-size: 15px;
          padding: 5px;
      }
  
      .underline{
          color: inherit;
          text-decoration: none;
          background: linear-gradient(
              to top,
              #a0a9a8 0%,
              #a0a9a8 10%,
              transparent 10.01%
      )
      no-repeat left bottom / 0 100%;
      transition: background-size 0.5s;
      }
  
      .underline:hover{
          background-size: 100% 100%;
      }
*/

  
      #welcome article{
          width: 100%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 50px;
      }
  
      #welcome .photo{
          width: 230px;
          height: 230px;
          margin:0 80px;
          border-radius: 50%;
          border: solid 1px #fff;
          background: url(Enjoy.jpg) no-repeat;
          background-size: cover;   
          /* background-size의 속성으로 corver:배경을 사용하는 요소를 다 채울 수 있게 이미지를 확대/축소(가로세로 비율유지)
             contain:배경을 사용하는 요소를 벗어나지 않는 최대 크기로 이미지를 확대/축소(가로세로 비율유지)  */
      }
  
      #welcome .welcome_txt{
          width: 500px;
          margin-left: 20px;
          text-align: center;
          font-size: 30px;
          line-height: 30px;
          vertical-align: middle;
      }
  
      #survey{
          margin:0 100px;
          text-align: center;
          border: 3px;
      }
      #title{
          font-size: 20px;
      }
  
      /*
      -- WORKS --
     h2{
          padding: 10px;
          background: #fafafa;
          font-size: 20px;
          position: absolute;
          top: -20px;
          left: 120px;
      }
      .grid {
          list-style: none;
          text-align: center;
      }
  
      .grid li {
          display: inline-block;
          width: 40%;
          margin: 0;
          padding: 3%;
          text-align: left;
          position: relative;
          box-sizing: border-box;
      }
  
      .grid figure {
          margin: 0;
          position: relative;
      }
  
      .grid figure img {
          max-width: 100%;
          display: block;
          position: relative;
      }
  
      .grid figcaption {
          position: absolute;
          top: 0;
          left: 0;
          padding: 20px;
          background: #2c3f52;
          color: #ed4e6e;
          box-sizing: border-box;
      }
  
      .grid figcaption h3 {
          margin: 0;
          padding: 0;
          color: #fff;
      }
  
      .grid figcaption span:before {
          content: 'by ';
      }
  
      .grid figcaption a {
          text-align: center;
          padding: 5px 10px;
          border-radius: 2px;
          display: inline-block;
          background: #ed4e6e;
          color: #fff;
      }
  
      -- Caption Style 3 --
      .cs-style-3 figure {
          overflow: hidden;
      }
  
      .cs-style-3 figure img {
          -webkit-transition: -webkit-transform 0.4s;
          -moz-transition: -moz-transform 0.4s;
          transition: transform 0.4s;
      }
  
      .cs-style-3 figure:hover img,
      .cs-style-3 figure.cs-hover img {
          -webkit-transform: translateY(-50px);
          -moz-transform: translateY(-50px);
          -ms-transform: translateY(-50px);
          transform: translateY(-50px);
      }
  
      .cs-style-3 figcaption {
          height: 100px;
          width: 100%;
          top: auto;
          bottom: 0;
          opacity: 0;
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          transform: translateY(100%);
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
          -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
          transition: transform 0.4s, opacity 0.1s 0.3s;
      }
  
      .cs-style-3 figure:hover figcaption,
      .cs-style-3 figure.cs-hover figcaption {
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -ms-transform: translateY(0px);
          transform: translateY(0px);
          -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
          -moz-transition: -moz-transform 0.4s, opacity 0.1s;
          transition: transform 0.4s, opacity 0.1s;
      }
  
      .cs-style-3 figcaption a {
          position: absolute;
          bottom: 20px;
          right: 20px;
      }
  
      -- CONTACT --
      #contact ul{
          display: flex;
          align-items: center;
          justify-content: center
  
      }
      #contact ul li a{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: block;
          text-indent: -9999px;
  
      }
      #contact ul li:nth-child(1) a{
          background: url(../img/icon_github.png) no-repeat;
          background-size: contain;
      }
      #contact ul li:nth-child(2) a{
          background: url(../img/icon_gmail.png) no-repeat;
          background-size: contain;
      }
      #contact ul li:nth-child(3) a{
          background: url(../img/icon_velog.jpg) no-repeat;
          background-size: contain;
      }
      #contact ul li{
          margin: 0 10px;
      }
  
      @media all and (max-width: 1280px){
          header, main{
              width: 100%;
          }
      }
*/

  /* Footer */
  footer{
    grid-row-start:3;
    grid-row-end: 4;
    font-size: 25px;
    padding:20px 24px;
    font-weight: var( --weight-bold);
    text-align: center;
    background-color:var(--text-color);
}
footer i{
    color:var(--icon-color);
    font-size: 40px;
    padding:8px 15px;
}