/* Global */


:root {
    /* Color */
    --text-color: #f0f4f5;
    --icon-color: #ffc7c7;
    --point-color: #feb546;
    --black: #000000;
    --light-grey: #7c7979;
    --navy: #203A43;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-nomal: 400;
}


* {
    box-sizing: border-box;
    margin:0;
    font-family: 'Do Hyeon', sans-serif;
}
html {
    scroll-behavior: smooth;
  }

 /* Grid */
   body{
    display: grid;
    grid-template-rows: 100px 3fr 1fr;
}


  /* Section */
section{
    grid-row-start:2;
    grid-row-end: 3;
    margin:0;
    padding:0;
    background-color:var(--text-color);
  }
.grid {
    padding: 25px 40px 30px;
    margin: 60px auto;
    width: 800px;
    background: #fff;
    border: 2px solid #eed0dc;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #cbcbcb;
 }
 
 .grid h1 {
    color: #333;
    font-size: 48px;
    text-align: center;
    padding-bottom: 15px;
    ;
 }

 #question {
    padding: 6px 2em;
    margin: 15px auto;
    background: salmon;
    border-radius: 15px;
    font-size: 25px;
    color: #fff;
    height: 45px;
 }
 
 #quiz {
    text-align: center;
 }
 
 .buttons {
    padding: 30px 20px;
    border: 2px solid #eed0dc;
    border-radius: 20px;
 }
 
 .btn {
    margin: 10px 40px 20px 0;
    padding: 10px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    color: #333;
    background: #eed0dc;
    border: 1px solid #ffe3ed;
    border-radius: 15px;
    cursor: pointer;
    transition: all .2s;
 }
 
 .btn:nth-child(2n) {   /* .btn 그룹에서 2번째에 위치하는 모든요소 선택 (2x1=2번째, 2x2=4번째) */
    margin-right: 0;
 }
 *:focus {
    outline: none;
  }

 .btn:hover {
    background: #c34c74;
    color: #fff;
 }
 .btn:active {
    text-decoration: none;
 }





 @media only screen and (max-width: 900px) {
    body{
        display: grid;
        grid-template-rows: 60px 3fr 1fr;
    }
    .grid{
        width:600px;
    }
    .grid h1{
        font-size: 30px;
    }
    #question, .btn {
        font-size: 20px;
        margin: 0;
        margin-bottom:10px;
        padding-bottom:30px;
    }
    .buttons {
        padding: 10px;
    }
}
@media only screen and (max-width: 580px) {
    body{
        display: grid;
        grid-template-rows: 60px 3fr 1fr;
    }
    .grid{
        width:550px;
    }
    .grid h1{
        font-size: 25px;
        padding-bottom: 5px;
    }
    #question, .btn {
        font-size: 18px;
        margin: 0;
        margin-bottom:5px;
        padding-bottom:20px;
    }
    .buttons {
        padding: 8px;
    }
}

  /* Footer */
footer{
    grid-row-start:3;
    grid-row-end: 4;
    font-size: 25px;
    font-weight: var( --weight-bold);
    padding:8px 24px;
    text-align: center;
    background-color:var(--text-color);
}
footer i{
    color:var(--icon-color);
    font-size: 40px;
    padding:8px 15px;
}