/* Global */

:root {
    /* Color */
    --text-color: #f0f4f5;
    --icon-color: #ffc7c7;
    --point-color: #feb546;
    --black: #000000;
    --light-grey: #7c7979;
    --navy: #203A43;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-nomal: 400;
}
    /* Size
    --size-border-radius: 25px;
  }
  */
  
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--black);
    margin: 4px 0;
  }



/*
ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
*/

* {
    box-sizing: border-box;
    margin:0;
}
html {
    scroll-behavior: smooth;
  }

 /* Grid */
   body{
    display: grid;
    grid-template-rows: 100px 3fr 1fr;
    font-family: 'Source Sans Pro';  /* html에 적용하고자 하는 폰트의 link 적용 후, 해당 font-family 내용 body에 적용하기 */
}

.navbar {
    grid-row-start:1;
    grid-row-end: 2;
    background: linear-gradient(#0F2027, #2C5364,#0F2027);
    width: 100%;
    display: flex;    
    justify-content: space-between;  /* 각 div 사이의 공간을 균등하게 배분 */
    align-items: center;
    padding: 8px 12px;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar_logo {
    font-size: 32px;
    margin-left: 10px;
    font-weight: var(--weight-bold);   
}
.navbar_logo i{
    color:var(--icon-color);
    opacity: 0.9;
}

/* .navbar_logo:hover{
    background-color: var(--point-color);
    border-radius: 10px;
} */

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left:0;  /* 기본적으로 padding-left값이 적용되어 있기 때문에 0으로 바꿔주면 중앙배치 완료 */
    font-size: 20px;
    color:var(--text-color);
    font-weight: var(--weight-nomal);
}
.navbar_menu li {
    padding: 8px 23px;  /* padding(0px 0px) = 위+아래, 좌+우 와 같다. 즉 위+아래 8px, 좌+우 12px로 적용한 것 */
    margin: 0px 6px;
    cursor: pointer;
    border-radius: 10px;
}
.navbar_menu li:hover{
    background-color: var(--point-color);
    border-radius: 10px;
}


.navbar_icon {  
    list-style: none;
    color:var(--icon-color);
    display: flex;
    padding-left:0;
}
.navbar_icon li{ 
    padding: 8px 12px;
    font-size: 35px;
}
.navbar_icon a{ 
    color:var(--icon-color);
}
.navbar_toggleBtn{
    display:none;   /* display:none;을 해줌으로서 일반 화면에는 나오지 않고 미디어쿼리에 display:block;를 적용하여 화면이 작아질때만 block으로 나오게 한다 */
    position:absolute;
    right: 32px;  /* right값을 설정하지 않으면 기본 왼쪽 상단에 위치한다. right값을 적용하면 해당 값만큼 오른쪽에 떨어져서 위치한다. */
    font-size: 24px;
    color:var(--point-color);
}




@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        width:100%;
        height: auto;
        padding: 8px 24px;
    }
    .navbar_logo{
        width:100%;
        text-align: center;
    }
    .navbar_menu {
        display: none;   /* toggleBtn을 눌렀을때 나오도록 만들기 위해, 기본적으로  display: none;을 적용해준다 */
        flex-direction: column;
        align-items: flex-start;
        width:100%;
    }
    .navbar_menu li{
        width:100%;
        text-align: center;
    }
    .navbar_icon { 
        display: none;   /* toggleBtn을 눌렀을때 나오도록 만들기 위해, 기본적으로  display: none;을 적용해준다 */
        justify-content: center;
        width:100%;
        padding-left:0;
    }
    .navbar_toggleBtn{
        display:block;
    }
    .navbar_menu.active, .navbar_icon.active{
        display: flex;
    }
}




  /* Section */
.grid {
    padding: 25px 40px 30px;
    margin: 60px auto;
    width: 800px;
    background: #fff;
    border: 2px solid #eed0dc;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #cbcbcb;
 }
 
 .grid h1 {
    color: #333;
    font-size: var(--font-large);
    text-align: center;
    padding-bottom: 15px;
    ;
 }

 #question {
    padding: 10px 2em;
    background: salmon;
    border-radius: 15px;
    font-size: 22px;
    color: #fff;
    height: 45px;
 }
 
 #quiz {
    text-align: center;
 }
 
 .buttons {
    padding: 30px 20px;
    border: 2px solid #eed0dc;
    border-radius: 20px;
 }
 
 .btn {
    margin: 10px 40px 20px 0;
    padding: 10px;
    width: 300px;
    height: 40px;
    font-size: 16px;
    color: #333;
    background: #eed0dc;
    border: 1px solid #ffe3ed;
    border-radius: 15px;
    cursor: pointer;
    transition: all .2s;
 }
 
 .btn:nth-child(2n) {   /* .btn 그룹에서 2번째에 위치하는 모든요소 선택 (2x1=2번째, 2x2=4번째) */
    margin-right: 0;
 }
 

 .btn:hover {
    background: #c34c74;
    color: #fff;
 }
 .btn:active {
    text-decoration: none;
 }



  /* Footer */
footer{
    grid-row-start:3;
    grid-row-end: 4s;
    font-size: 25px;
    font-weight: var( --weight-bold);
    padding:8px 24px;
    text-align: center;
}
footer i{
    color:var(--icon-color);
    font-size: 40px;
    padding:8px 15px;
}